body {
    font-family: 'Roboto', sans-serif;
}

.container-wrapper { 

}

.container-wrapper-blu {
    background-color: #043b77;
    color: #c49f1cfa;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #d39200;
    border-color: #d39200;
}

.callout-container {
    height: 100vh;
    background: url("../images/whiskey-background.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.quotes-container {

}

.features-container {

}

/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* block divider*/
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider-orange {
    background-color: #ab894be6;
}

.block-divider-gold {
    background-color: #caa61fde;
}

.block-divider-short {
    width: 35px;
}

/* Content Containers*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}


/* NavBar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 1;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav {
    font-weight: bold;
}



/* Jumbotron*/
.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #caa61fde;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--blu {
    color: white;
    background-color: #043b77;
    border-color: #043b77;
}

.btn--blu:hover {
    color: #d39e00;
}
.btn--blu:active
.btn--blu:focus
.btn--blu:active:focus {
    background-color: #10447b;
    border-color: #10447b;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #043b77;
}

.table-container {

}
